* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
}
.tittle{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.loader {
    height: 200px;
    width: 200px;
    border: black 4px solid;
    margin: 100px auto;
}

.loader-1 {
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}